:root {
  --color-negro: rgb(0,0, 0);
  --color-blanco: #ffffff;
  --fuente-helvetica: 'Helvetica Neue LT Pro', sans-serif;
  --estilo-letra: uppercase;
  --font-weight: bold;
}
body {
  padding: 3.125rem;
  padding-top: 0.625rem;
  font-family: var(--fuente-helvetica);
  text-transform: var(--estilo-letra);
}
/* >>>>CONTENEDOR PRINCIPAL<<<< */
.main-container {
  width: 100%;
  height: fit-content;
}
h1 {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.6rem;
    letter-spacing: 4px;
    font-weight: var(--font-weight);
    color: var(--color-negro);
}
.select-area {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2%;
  background-color: var(--color-negro);
} 
h2{
  color: var(--color-blanco);
}
/* ddSlick */
/* >>>>SELECT CATEGORIA Y LEYENDA/RESERVA<<<< */
.dd-select{
  height: max-content;
}
.dd-container {
  width: 600px;
}
.dd-selected{
  height: fit-content;
  font-size: 1.3rem;
}
.dd-option, .dd-selected{
  background-color: var(--color-negro);
  color: var(--color-blanco)!important;
  min-height: 2rem;
}
.dd-option:hover{
  background-color: var(--color-negro) !important;
}
.dd-option-selected{
  background-color: var(--color-negro) !important;
}
.dd-selected-image, .dd-option-image {
  max-width:70%!important;
}
.dd-selected-image, .dd-option-image, .logo-leyenda {
  max-width: 100%!important;
}
/* >>>>ESTILO DE CHECKBOX DESCRIPTORES<<<< */
 .descriptores-container, .descriptores > label > img {
   width: 100%;
   object-fit: contain;
 }
 .descriptores {
   background-color: var(--color-negro);
   display: grid;
   grid-template-columns: 50px 0.7fr 10px; 
   padding-top: 0px;
   grid-gap: 10px; 
 }
 /* >>>>DIV DE IMAGEN RENDERIZADA<<<< */
.logo-container {
  background-color: var(--color-negro);
  width: 100%;
  height: calc(100% - 150px);
}
.images-container {
  height: 500px;
  position: relative;
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 40px;
  margin: auto 20%;
  align-items: center;
}
.first-container {
  display: flex;
  flex-direction: column;
  width: 545px;
  height: 327px;
}
/* >>>>DESCRIPTORES RENDERIZADOS<<<< */
.imagenContainer {
  max-height: 410px;
}
.imagenContainer img {
  height: 82px;
  flex: 1;
}
.logo-categoria {
  width: 545px;
  height: 245px;
}
.logo-leyenda  {
  width: 545px;
}
.logo-leyenda img {
  width: 99.8%;
}
hr {
    height: 3px;
    background-color: white;
    width: 510px;
    margin-bottom: 4px;
}
.barra-vertical {
  bottom: 244px;
  width: 411px;
  left: 358px;
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  height: 3px;
  display: none;
}
.barra-vertical-corta {
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  height: 3px;
  display: none;
}
.footer {
  text-align: center;
  padding-top: 50px;
}
.footer > img {
  height: calc(100% - 100px);
  width: calc(100%);
}
/* Estilo del boton */
.button-div {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}
button {
  width: 250px;
  border-radius: 30px;
  border: black solid 5px;
  background-color: var(--color-blanco);
  color: var(--color-negro);
  text-transform: var(--estilo-letra);
  font-weight: 600;
  font-size: larger;
  letter-spacing: 1px;
  line-height: 3rem;
  margin: 2rem auto;
}
button:hover {
  background-color: black;
  color: var(--color-blanco);
  letter-spacing: 1.5px;
  box-shadow: 0 4px 6px rgba(41, 40, 40, 0.1);
  transform: scale(1.20);
  cursor: pointer;
}

@media  screen and (min-width: 1000) and (max-width: 1500px) {
  /*estilos notebook*/
}

